h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    font-family: 'Lobster', cursive;
}
h5{
    text-align: center;
}    

body{
    background-color: #111; 
   }
    .card{
       background-color:  #333;
       color: rgb(255, 255, 255);


}